<p id="notice"><%= notice %></p>

<h1>Ofertas Laborales</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Descripción</th>
      <th>Vacantes</th>
      <th>Rango de Salario</th>
      <th>Fecha inicio</th>
      <th>Modalidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ofertas.each do |oferta| %>
      <tr>
        <td><%= oferta.cargo %></td>
        <td><%= oferta.descripcion %></td>
        <td><%= oferta.cant_vacantes %></td>
        <td>Entre $<%= oferta.salario_min %> a $<%= oferta.salario_max %> CLP.</td>
        <td><%= oferta.fecha_inicio %></td>
        <td><%= oferta.modalidad %></td>
        <% if persona_signed_in? %>
        <td><%= link_to "Ver", oferta, class: "btn btn-outline-dark" %></td>
        <% end
           if empresa_signed_in? %>
        <td><%= link_to "Ver", oferta, class: "btn btn-outline-dark" %></td>
        <td><%= link_to "Editar", edit_oferta_path(oferta), class: "btn btn-outline-dark" %></td>
        <td><%= link_to "Eliminar", oferta, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-outline-dark" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @ofertas %>
<br>
<% if empresa_signed_in? %>
<%= link_to "Nueva Oferta", new_oferta_path, class: "btn btn-outline-dark" %>
<% end %>


<%= link_to "Buscar", search_ofertas_path, class: "btn btn-outline-dark" %>
<%= link_to "Volver", :back, class: "btn btn-outline-dark" %>
<% if persona_signed_in? %>
<%= link_to "Editar", edit_persona_registration_path, class: "btn btn-outline-dark" %>
<% end %>
