<br><h1 class="ofer">Ofertas Laborales</h1><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>CARGO</th>
      <th>DESCRIPCIÓN</th>
      <th>VACANTES</th>
      <th>RANGO DE SALARIO</th>
      <th>FECHA DE INICIO</th>
      <th>MODALIDAD</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ofertas.each do |oferta| %>
      <tr>
        <td><%= oferta.cargo %></td>
        <td><%= oferta.descripcion %></td>
        <td><%= oferta.cant_vacantes %></td>
        <td>Entre $<%= oferta.salario_min %> a $<%= oferta.salario_max %> CLP.</td>
        <td><%= oferta.fecha_inicio %></td>
        <td><%= oferta.modalidad_trabajo %></td>
        <% if empresa_signed_in? %>
        <td><%= link_to "Ver", oferta, class: "btn btn-outline-dark" %></td>
        <td><%= link_to "Editar", edit_oferta_path(oferta), class: "btn btn-outline-dark" %></td>
        <td><%= link_to "Eliminar", oferta, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-outline-dark" %></td>
        <% else %>
		<td><%= link_to "Ver", oferta, class: "btn btn-outline-dark" %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @ofertas %>
<br>
<% if empresa_signed_in? %>
<%= link_to "Nueva Oferta", new_oferta_path, class: "btn btn-outline-dark" %>
<% end %>
<%= link_to "Volver", :back, class: "btn btn-outline-dark" %>