<div class="container">
    <div class="row">
        <div class="col-12">
<br>
  <%= form_with url: "/ofertas/postula", method: :get do |form| %>
        <%= form.label :query, "Buscar Mis Postulaciones:" %>
        <%= form.text_field :query %>
        <%= form.submit "Buscar" %>
    <% end %>

    <% if @postula %>

    <p>
        <strong>Cargo:</strong>
        <%= @postula.cargo %>
    </p>

    <p>
        <strong>Descripción:</strong>
        <%= @postula.descripcion %>
    </p>

    <p>
        <strong>Vacantes:</strong>
        <%= @postula.cant_vacantes %>
    </p>

    <p>
        <strong>Salario:</strong>
        Entre $<%= @postula.salario_min %> a $<%= @postula.salario_max %> CLP.
    </p>

    <p>
        <strong>Fecha de Inicio:</strong>
        <%= @postula.fecha_inicio %>
    </p>
    <% else %>
    <%= "***Ningun dato encontrado***" %>
    <% end %>

    <%= link_to "Volver", ofertas_path, class: "btn btn-outline-dark" %>

        </div>
    </div>
</div>