<div class="container">
  <div class="row">
      <div class="col-12">
<br>
<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, autofocus: true, autocomplete: "Nombre" %>
  </div><br>

  <div class="field">
    <%= f.label :rut %><br />
    <%= f.text_field :rut, disabled: true, autocomplete: "rut" %>
  </div><br>

  <div class="field">
    <%= f.label :'Fecha de Nacimiento' %><br />
    <%= f.datetime_select :fnac, autofocus: true, autocomplete: "Fecha de Nacimiento" %>
  </div><br>

  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono, autofocus: true, autocomplete: "Teléfono" %>
  </div><br>

  <div class="field">
    <%= f.label :genero %>
    <%= collection_select(:personas, :genero_id, Genero.all, :id, :nombre, prompt: true) %>
  </div><br>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div><br>

  <div class="field">
    <%= f.label :curriculum %> 
    <input type="checkbox" value="true" checked>
  </div><br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :nueva_contraseña %> <i>(Mantener en blanco si no lo quieres actualizar)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>Mínimo <%= @minimum_password_length %> caracteres</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :confirmar_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :contraseña_actual %> <i>(Necesitamos tu actual contraseña para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3><br></h3>

<p>¿Nos abandonas? <%= button_to "Si, eliminar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: "btn btn-outline-danger" %></p>

<%= link_to "Volver", :back, class: "btn btn-outline-dark" %>

        </div>
    </div>
</div>
