<div class="container">
  <div class="row">
      <div class="col-12">
<br>
  <h2>Registro de Persona</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :rut %><br />
    <%= f.text_field :rut, autofocus: true, autocomplete: "rut" %>
  </div><br>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, autofocus: true, autocomplete: "Nombre" %>
  </div><br>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Email" %>
  </div><br>

  <div class="field">
    <%= f.label :'Fecha de Nacimiento' %><br />
    <%= f.datetime_select :fnac, autofocus: true, autocomplete: "Fecha de Nacimiento" %>
  </div><br>

  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono, autofocus: true, autocomplete: "Teléfono" %>
  </div><br>

  <div class="field">
    <%= f.label :genero %>
    <%= collection_select(:personas, :genero_id, Genero.all, :id, :nombre, prompt: true) %>
  </div><br>

  <div class="field">
    <%= f.label :curriculum %><br />
    <%= f.text_field :curriculum, autofocus: true, autocomplete: "Cargar CV" %>
  </div><br>

  <div class="field">
    <%= f.label :contraseña %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div><br>

  <div class="field">
    <%= f.label :confirmar_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Volver", class: "btn btn-outline-dark" %>
  </div>
<% end %>
        </div>
    </div>
</div>

